<!DOCTYPE html>
	<html>
		<head>
			<meta charset='utf-8'>

			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen">	
			<link rel="stylesheet" type="text/css" href="/stylesheets/github-dark.css" media="screen">
			<link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print">

		</head>
		<body>
			<header>
				<div class="container">
					<h1>Ka2er.GitHub.io</h1>
					<section id="downloads">
						<a href="https://github.com/ka2er" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
					</section>
				</div>
			</header>
			
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
				 <section id="main_content">

			{{ content }}
			
				</section>
			</div>
			<footer>
	    		<ul>
	        		<li><a href="mailto:personseb+git@gmail.com">email</a></li>
	        		<li><a href="https://github.com/ka2er">github.com/ka2er</a></li>
				</ul>
			</footer>
		</body>
	</html>
